

body{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0 auto;
    max-width: 1080px;
    width: 1080px;
}


.content{
    display: flex;
    height: 576px;
    width: 100%;
}

.content__aside{
    height: 100%;
    box-sizing: border-box;
    width: 30%;
}

.content__aside-logo{
    background-color: #328FC3;
    color:#fff;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: calc(100% / 2);
    justify-content: center;
}



.content__aside-logo span{
    font-size: 41px;
    margin-top: 0.325rem;
}

.date{
    margin-top:1rem;
    font-size: 17px;
}



.content__aside-waiting{
    background-color: #0B6293;
    color:#fff;
    padding: 1.5rem;
    height: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.waiting-wrap-expect{
    position: relative;
    margin-bottom: 1rem;
}

.waiting-wrap-expect::after{
    content:"";
    position: absolute;
    width:80%;
    height:1px;
    background-color: #fff;
    margin:1rem 0;
}

.waiting-wrap{
    margin: 1rem 0;
}

.waiting-title{
    font-size: 28px;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.waiting-people{
    font-size: 54px;
    font-weight: 800;
}

.waiting-people span{
    font-size: 25px;
    font-weight: 700;
}

.content__call{
    background-color: #0A4E74;
    padding:1rem;
    width: 70%;
    height: 100%;
}

.content__call-now{
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 392px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content__call-now p{
    font-size:35px;
    font-weight: 700;
}

.content__call-now h2{
    font-size: 250px;
    font-weight: 800;
    margin:0.325rem 0;
}

.phone_call{
    display: flex;
    align-items: center;
}

.phone_call svg{
    fill:#328FC3;
}

.phone_call .callStandby{
    margin-left: 1rem;
    color:#676464;
    font-size: 25px;
}


.phone_call .callStandby svg{
    fill:#676464;
}

.content__call-prev{
    display: flex;
    color:#000;
    margin-top:1rem;
}

.content__call-prev li{
    background-color: #fff;
    margin-right: 0.5rem;
    border-radius: 15px;
    text-align: center;
    height: 138px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#676464;
    flex-direction: column;
}

.content__call-prev li:last-child{
    margin-right: 0rem;
}


.callNext{
    font-size: 40px;
    position: relative;
    margin-bottom: 0.5rem;
    font-weight: 800;
}


/* .callNext::after{
    content:"";
    display: block;
    width:100%;
    height:2px;
    background-color: rgb(204, 204, 204);
    margin:1rem 0;
} */



.content__call-number svg{
    fill:#717171
}

.content__call-now .callStandby{
    display: flex;
    align-items: center;
    font-size: 32px;
}

.content__call-now .callStandby p{
    font-size:32px;
    margin-left: 0.5rem;

}

.content__call-number .callStandby{
    display: flex;
    align-items: center;
    font-size: 26px;
}

.content__call-number .callStandby p{
    font-size:26px;
    margin-left: 0.5rem;

}


.media__content{
    max-height: 1344px;
    overflow: hidden;
}



.slideshow-container {
max-width: 1080px;
position: relative;
margin: auto;
}

.mySlides img{
    width: 100%;
}

.active {
background-color: #717171;
}


.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}


